body {
    background-image: url(file:///C:/Users/sguer/Desktop/Neoland/para%20subir%20a%20git/ejercicio2_piedraPapelTijera/assets/background.jpg);
    background-size: cover;
    background-position: center;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}